* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  border: solid 7px whitesmoke;
  border-radius: 5px;
}

body {
  background: url("../images/paper_3.png");
}

form {
  background: white;
  padding: 15px;
  border: solid 2px whitesmoke;
  border-radius: 5px;
  text-align: center;
}

.button-display {
  padding: 15px;
}

.text-input {
  border: solid 1px rgb(163, 163, 163);
  margin-top: 5px;
  padding: 2px;
  width: 100%;
  border-radius: 3px;
}

.btn-topic {
  margin: 1px;
}

.gif {
  width: 30%;
  margin: 3px;
  margin-top: 15px;
  display: inline-block;
  background: white;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  padding: 2px;
  position: relative;
}

.fa-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: pink;
}

.not-favorite {
  opacity: 0.1;
}

.favorite {
  opacity: 1;
}

.not-favorite:hover {
  opacity: 0.4;
}

.favorite:hover {
  opacity: 0.8;
}

.gif-rating {
  padding: 4px;
  font-size: 10px;
  margin-bottom: 0;
}

.gif-image {
  object-fit: cover;
  width: 100%;
  border: solid 3px white;
  border-radius: 5px;
}

.favorites-holder {
  background: white;
  padding: 15px;
  border: solid 2px whitesmoke;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}

.favorites {
  background: white;
  border-radius: 5px;
  margin-top: 5px;
}

.fav-gif {
  width: 100%;
  height: 60px;
  margin: 3px;
  margin-top: 15px;
  display: inline-block;
  background: white;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  padding: 2px;
  position: relative;
  text-align: left;
}

.fav-gif-image {
  object-fit: cover;
  object-position: 100% 20%;
  height: 100%;
  width: 80%;
  border: solid 3px white;
  border-radius: 5px;
}

.hidden {
  display: none;
}