* {
  margin: 0;
  border: 0;
  padding: 0;
}

.button-display {
  padding: 15px;
}

.text-input {
  border: solid 1px black;
}

.btn-topic {
  margin: 1px;
}

.gif {
  height: 200px;
  width: 30%;
  margin: 2px;
  display: inline-block;
}

.gif-image {
  object-fit: cover;
  height: 80%;
  width: 100%;
}